 html
 {
    font-family: Arial, sans-serif;
    background: #22C1C3;
    background: linear-gradient(0deg,rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
    border: #22C1C3;
    background-repeat: no-repeat; /* Ensure no repetition */
    background-size: cover; /* Scale the image to cover the viewport */
    height:auto;
    width: 100%;
   
}

.dashboard 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    height:100%;
}

.header 
{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.header img 
{
    width: 80px;
    height: auto;
    margin-right: 20px;
    background-color: transparent; /* Ensures no background color for the image container */
    mix-blend-mode: multiply; /* Blends the image with its background */
}

.header h1 
{
    font-size: 2rem;
    color: #2c3e50;
   text-align: center;
}
.airplane 
{
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -30%);
    width: 60px;
    background-color: transparent; /* Ensures no background color for the image container */
    mix-blend-mode: multiply; /* Blends the image with its background */
}
#submitBtn
{
    margin-top:20px;
    font-size: 16px;
    padding: 20px;
    border-radius: 5px;
    border: 2px solid #b9ccbd;
    background-color: #66ae55;
}
.Graph 
{
    /*flex: 1;
    display: flex;*/
    align-items: center;
    justify-content:right;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 1 4px 8px rgba(0, 0, 0, 0.1);
    }

p#error-message{
        position: relative;
            color: red;
            font-size: 16px;
            top: 40%;
            margin: 10px;
            padding:20px;
            font-weight: bold;
            border: 2px solid brown;
            display: none; /* Hidden by default */
        }

.errorIcon
{
    position: relative;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
    width: 60px;
    background-color: transparent; /* Ensures no background color for the image container */
    mix-blend-mode: multiply; /* Blends the image with its background */
}

.errorIconDiv img 
{
    display:none;
    width: 80px;
    height: auto;
    margin-right: 20px;
    background-color: transparent; /* Ensures no background color for the image container */
    mix-blend-mode: multiply; /* Blends the image with its background */
}


